<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="pattern">%d{YYYY-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</property>
    </Properties>
    <Appenders>
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout pattern="${pattern}"/>
        </File>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.zinko.servicebook.aspect.LoggingAspect" level="debug" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>
        <Logger name="com.zinko" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleLogger"/>
        </Root>
    </Loggers>
</Configuration>